<div class="row form-row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h3 class="w-100 text-center"><%= add_lp_form_header %></h3>
      </div>
      <div class="card-body">
        <%= form_for @lp do |f| %>
          <div class="form-group">
            <label for="lp_name">Name</label>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="lp_artist_id">Artist</label>
            <%= f.collection_select(:artist_id, Artist.all, :id, :name, {include_blank: "Select an artist...", selected: params[:artist]}, class: "form-control") %>
          </div>
          <div class="form-group">
            <label for="lp_description">Description</label>
            <%= f.text_area :description, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
