<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <span>Search</span>
      </div>
      <div class="card-body">
        <%= form_tag lps_path, method: "get", remote: true do %>
          <div class="form-group">
            <%= text_field_tag 'keyword', params[:keyword], placeholder: "Filter by artist name", class: "form-input" %>
            <%= submit_tag "Search", class: "form-input" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card mt-3">
      <div class="card-body lp-list-cont">
        <%= render "lps" %>
      </div>
    </div>
  </div>
</div>
