<div class="row form-row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h3 class="w-100 text-center"><%= add_form_header %></h3>
      </div>
      <div class="card-body">
        <%= form_for @artist do |f| %>
          <div class="form-group">
            <label for="artist_name">Name</label>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="artist_description">Description</label>
            <%= f.text_area :description, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Save", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
