<div class="row">
  <div class="col-sm-12">
    <% @artists.each do |ar| %>
      <div class="card artist-card mt-3">
        <div class="card-header">
          <h4><%= link_to ar.name, artist_path(ar) %></h4>
        </div>
        <p class="card-body">
          <%= ar.description %>
        </p>
      </div>
    <% end %>
  </div>
</div>
