<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header artist-header">
        <h3 class="card-title"><%= @artist.name %></h3> <span><%= pluralize(@artist.lps.count, "LP") %></span><br>
        <small>
          <%= link_to "Edit", edit_artist_path(@artist) %> |
          <%= link_to 'Delete', artist_path(@artist), data: { confirm: 'Are you sure?' }, method: :delete %>
        </small><br>
      </div>
      <div class="card-body">
        <p class="card-text"><%= @artist.description %></p>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header">
        <h3 class="card-title">LPs</h3> <%= link_to "+Add LP", new_lp_path(artist: @artist) %>
      </div>
      <div class="card-body lps-body">
        <ul>
          <% @lps.each do |lp| %>
            <li>
              <strong><%= lp.name %></strong>
              <small>
                <%= link_to "Edit", edit_lp_path(lp, artist: @artist), class: "edit-lp-link" %> |
                <%= link_to 'Delete', lp_path(lp), data: { confirm: 'Are you sure?' }, class: "delete-lp-link", method: :delete %>
              </small>
            </li>
            <p class="card-text"><%= lp.description %></p>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
