/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "artists";
 @import "lps";

html, body {
  background: #ccc;
}

textarea {
  min-height: 200px;
}

.artist-image {
  min-width: 200px;
  min-height: 200px;
}

.row {
  max-width: 100%;
  padding: 20px;
}
.alert-row {
  padding-bottom: 0;
}
.form-row {
  justify-content: center;
}
