<!DOCTYPE html>
<html>
  <head>
    <title>Discography</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-brand">Discography</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-">
            <%= link_to "Artists", artists_path, class: "nav-link" %> <span class="sr-only">(current)</span>
          </li>
          <li class="nav-">
            <%= link_to "LPs", lps_path, class: "nav-link" %> <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <%= link_to "New Artist", new_artist_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New LP", new_lp_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row alert-row">
      <div class="col-sm-12">
        <% flash.each do |key, value| %>
          <% value.each do |v| %>
            <div class="alert alert-<%= key %>"><%= v %></div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
